.service-section {
  position: relative;
  z-index: 2;
  background-image: url(../../Assets/servicebg.png);
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.feature-div {
  display: flex;
  gap: 5rem;
}
.availability-title {
  width: 35%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.availability-title-2 {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.seek-image {
  position: absolute;
  left: 0;
  top: 125rem;
}
.daco-image {
  position: absolute;
  right: 0;
  top: 125rem;
}

.avails-container {
  margin: 3rem auto auto;
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
