@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}

/* utility classes */

.display-none {
  display: none;
}

/* flex */
.flex {
  display: flex;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.justify-space-btw {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.m-auto {
  margin: auto;
}
.m-t-2 {
  margin-top: 2rem;
}
.m-t-3 {
  margin-top: 3rem;
}
.m-t-6 {
  margin-top: 6rem;
}
.m-b-1 {
  margin-bottom: 1rem;
}
.m-r-2 {
  margin-right: 2rem;
}
.m-b-2 {
  margin-bottom: 2rem;
}
.p-l-2 {
  padding-left: 2rem;
}
/* fonts */
.font-weight-300 {
  font-weight: 300;
}
.f-size-14px {
  font-size: 14px;
}
.f-size-1 {
  font-size: 1rem;
}
.f-size-2 {
  font-size: 2rem;
}
.width-100 {
  width: 100%;
}
.width-90 {
  width: 90%;
}
.width-80 {
  width: 80%;
}
.width-60 {
  width: 60%;
}
.text-center {
  text-align: center;
}
.opacity-5 {
  opacity: 0.5;
}
/* common */
.cta-color {
  color: #ef7f1a;
}
.cta-btn {
  margin-top: 1.3rem;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  background: #ef7f1a;
  padding: 15px 20px;
  cursor: pointer;
}
.cta-btn-outlined {
  margin-top: 1.3rem;
  color: #ef7f1a;
  border: 1px solid #ef7f1a;
  font-size: 1rem;
  background: transparent;
  padding: 13px 20px;
  cursor: pointer;
}

.linkStyle {
  text-decoration: none;
  color: #ef7f1a;
}
